@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutDeft.cshtml";
}


<div ng-view>


</div>

@section scripts{
    <script src="~/Scripts/app/directives/renderGraph.js"></script>

    <script src="~/Scripts/app/controllers/generalControllers.js"></script>
    <script src="~/Scripts/app/controllers/dynamicGraphsController.js"></script>
}