
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutOBL.cshtml";
}


    <div particles particle-data="page.particleConfig">
        
        <div ng-view>

        </div>

    </div>



@section scripts{
    <script src="~/Scripts/shared/directives/onRepeatFinishedDirective.js"></script>
    <script src="~/Scripts/shared/directives/googleSigninDirective.js"></script>
    <script src="~/Scripts/shared/directives/facebookSigninDirective.js"></script>
    <script src="~/Scripts/shared/directives/nostreetsSignInDirective.js"></script>
    <script src="~/Scripts/shared/directives/renderGraphDirective.js"></script>
    <script src="~/Scripts/obl/app/controllers/generalControllers.js"></script>

}