@model Nostreets_Services.Domain.User
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutDeft.cshtml";
}

<div id="particles-js" class="gradient"></div>
<div class="count-particles">
    <span class="js-count-particles"></span>
</div>
<div id="leftSide">
    <div id="home" class="gradient">
        <div class="row"> <img src="~/assets/img/logo3.png" class="main-logo" /></div>

        <div class="social_icons">
            <div class="row">
                <ul class="btn-group btn-group-sm">
                    <li class="btn btn-simple"><a href="#"><i class="material-icons">home</i></a></li>
                    <li class="btn btn-simple"><a href="mailto:nileoverstreet@gmail.com"><i class="material-icons">mail_outline</i></a></li>
                    <li class="btn btn-simple"><a href="https://www.linkedin.com/in/nile-overstreet/"><i class="icon ion-social-linkedin"></i></a></li>
                    <li class="btn btn-simple"><a href="https://github.com/nostreets/"><i class="icon ion-social-github"></i></a></li>
                    <li class="btn btn-simple" sign-in></li>
                </ul>
            </div>
        </div>

        <div class="h-content">
            <h1 style="font-family: 'Trebuchet MS';">Welcome to <br> Nile's Sandbox!</h1>
            <p>Always envisioning technological solutions to the current problems society faces today...</p>
        </div>

    </div>
</div>
<div id="rightSide" class="scrollable-content">

    @Html.Partial("_MobileNavBar")

    <div class="project container-fluid gradient">

        <div ng-view style="margin-bottom: 15%;">


        </div>

    </div>
</div>



@section scripts{
    <script src="~/Scripts/app/directives/signInDirective.js"></script>
<script src="~/Scripts/app/directives/renderGraphDirective.js"></script>
    <script src="~/Scripts/app/directives/carouselDirective.js"></script>
    <script src="~/Scripts/app/controllers/generalControllers.js"></script>
    <script src="~/Scripts/app/controllers/cardController.js"></script>
    <script src="~/Scripts/app/controllers/billManagerController.js"></script>
    <script src="~/Scripts/app/controllers/dynamicGraphsController.js"></script>

    <script type="text/ng-template" id="codeModal.html">
        <pre>
        {{ mc.code }}
        </pre>
    </script>



}