@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutDeft.cshtml";
}


<div ng-view style="margin-bottom: 15%;">


</div>

@section scripts{
    <script src="~/Scripts/app/directives/signInDirective.js"></script>
    <script src="~/Scripts/app/directives/renderGraphDirective.js"></script>

    <script src="~/Scripts/app/controllers/generalControllers.js"></script>
    <script src="~/Scripts/app/controllers/cardController.js"></script>
    <script src="~/Scripts/app/controllers/billManagerController.js"></script>
    <script src="~/Scripts/app/controllers/dynamicGraphsController.js"></script>

    <script type="text/ng-template" id="codeModal.html">
        <pre>
        {{ mc.code }}
        </pre>
    </script>

}