<div class="zone1">
    <div class="orb"></div>
    <div class="ring">
        <div class="pivot-wrapper level1">
            <div class="pivot r"></div>
            <div class="pivot l"></div>
        </div>
        <div class="pivot-wrapper level2">
            <div class="pivot r"></div>
            <div class="pivot l"></div>
        </div>
        <div class="pivot-wrapper level3">
            <div class="pivot r"></div>
            <div class="pivot l"></div>
        </div>
        <div class="pivot-wrapper level4">
            <div class="pivot r"></div>
            <div class="pivot l"></div>
        </div>
        <div class="pivot-wrapper level5">
            <div class="pivot r"></div>
            <div class="pivot l"></div>
        </div>
        <div class="pivot-wrapper level6">
            <div class="pivot r"></div>
            <div class="pivot l"></div>
        </div>
        <div class="pivot-wrapper level7">
            <div class="pivot r"></div>
            <div class="pivot l"></div>
        </div>
    </div>
</div>
