

body {
    background-color: #ffffff;
    /*background-image: url(../img/body-bg.png);*/
}

.bold {

    font-weight: 500;
}


#particles-js {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}





/*#region SWIPER JS */

.swiper-wrapper {
    position: relative;
}

.swiper-container {
    height: auto !important;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    overflow: visible;
    background-position: center;
    background-size: 100% 100% !important;
    min-height: 50% !important;
    max-width: 100%;
    height: 100% !important;
}

/*#endregion */
