

/*#region Element Styles */

body {
    background-color: #ffffff;
    /*background-image: url(../img/body-bg.png);*/
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: gray;
    text-align: center;
    z-index: 98;
}

    footer a {
        color: grey;
    }

/*#endregion */

/*#region Class And Id Styles */

.bold {
    font-weight: 400;
}

    .bold > a {
        color: black;
    }

.absolute-footer {
    bottom: -10%;
    position: absolute;
}


.fixed-footer {
    position: fixed;
}

#redietCard img {
    margin: 0% -38%;
}

#particles-js {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}

.card-img {
    display: block;
    height: 100%;
    max-width: fit-content;
}

.icon-xs {
    width: 25px !important;
    height: 25px !important;
}

/*#endregion */

/*#region Attribute Styles */

[sign-in] {
    z-index: 98;
    color: black;
    position: fixed;
}

    [sign-in]:hover {
        color: gray;
        cursor: pointer;
    }

/*#endregion */


/*#region Medias */

@media (min-width: 576px) {

    .mobile-img-xs-only {
        display: none;
    }

    .mobile-img-xxs-only {
        display: none;
    }
}

@media (max-width: 576px) {


    .mobile-img-xs-only {
        display: initial;
        width: 50%;
    }

    .mobile-img-xxs-only {
        display: none;
    }
}

@media (max-width: 320px) {

    .mobile-img-xs-only {
        display: none;
    }

    .mobile-img-xxs-only {
        display: initial;
        width: 50%;
    }

    .mobile-text {
        overflow-y: scroll;
    }
}

/*#endregion */

/*#region SWIPER JS */

.swiper-wrapper {
    position: relative;
}

.swiper-container {
    height: auto !important;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    overflow: visible;
    background-position: center;
    background-size: 100% 100% !important;
    min-height: 50% !important;
    max-width: 100%;
    height: 100% !important;
}

/*#endregion */
