

/*#region Element Styles */

body {
    background-color: #ffffff;
    /*background-image: url(../img/body-bg.png);*/
}

p {
    font-size: medium;
    color: #535353;
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: gray;
    text-align: center;
    z-index: 98;
}

    footer a {
        color: grey;
    }

    footer p {
        font-weight: 500;
        font-size: small;
    }

/*#endregion */


/*#region Class And Id Styles */

.bold {
    font-weight: 500;
    color: black;
}

    .bold > a {
        color: black;
    }

h3.bold {
    color: black;
}

.absolute-footer {
    bottom: -10%;
    position: absolute;
}

.fixed-footer {
    position: fixed;
}

#redietCard img {
    margin: 0% -38%;
}

#particles-js {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}

.card-img {
    display: block;
    height: 100%;
    max-width: fit-content;
}

.icon-xs {
    width: 25px !important;
    height: 25px !important;
}

.Indigo > h2 > .card-title {
    color: #c9c9c9;
}

.control-label {
    font-size: medium !important;
    color: #999999 !important;
}

/*MUSIC PLAYER CONTROLS*/
.dg {
    display: none;
}
/*MUSIC PLAYER CONTROLS*/

.page-video-youtube {
    width: 420px;
    height: 290px;
    margin: 50% 17%;
    max-width: 180%;
}

.page-video-youtube-xs {
    width: 420px;
    height: 290px;
    margin: 5% 0%;
    max-width: 180%;
}

.song-card {
    padding: 0% 0% 0% 3%;
    margin: 5% 10%;
}

.songImg {
    margin: 10% 0%;
    border-radius: 50%;
}

.songTitle {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.5em;
    margin-right: 2%;
}

#song-list {
    margin: 41% 0% 0% 0%;
}

.transparent-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.30);
    width: 100%;
    height: 100%;
}

.mdl-button--black {
    background: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
}

    .mdl-button--black:hover {
        background-color: rgb(45, 45, 45);
        color: rgb(255, 255, 255);
    }

.margin-tb-5p {
    margin: 5% 0%;
}

/*#endregion */


/*#region Attribute Styles */

[sign-in] {
    z-index: 98;
    color: black;
    position: fixed;
}

    [sign-in]:hover {
        color: gray;
        cursor: pointer;
    }

/*#endregion */


/*#region Medias */

@media (max-width: 320px) {

    p {
        font-size: smaller;
    }

    footer p {
        font-size: smaller;
    }
}

@media(max-width: 468px) {
    p {
        font-size: small;
    }
}


@media (max-width: 576px) {

    #about-img {
        padding: 0% 20% 0% 20%;
    }
}

@media (min-width: 766px) {
}


@media(min-width: 767px) {
    .hidden-xs {
        display: none;
    }

    .mobile-img-xs-only {
        display: none;
    }
}

@media(max-width: 767px) {

    .mobile-img-xs-only {
        display: initial;
        width: 50%;
    }
}

@media (min-width: 768px) {


    #about-img {
        padding: 0% 38% 0% 38%;
    }

    .hidden-xs {
        display: initial;
    }
}

@media (max-width: 768px) {

    #about-img {
        padding: 0% 25% 0% 25%;
    }

    .prism {
        display: none;
    }

        .prism > .side {
            display: none;
        }
}

@media(max-width: 850px) {
    #song-list {
        margin: 65% 0% 0% 0%;
    }
}

@media(max-width: 1100px) {
    #song-list {
        margin: 52% 0% 0% 0%;
    }
}

/*#endregion */


/*#region SWIPER JS */

.swiper-wrapper {
    position: relative;
}

.swiper-container {
    height: auto !important;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    overflow: visible;
    background-position: center;
    background-size: 100% 100% !important;
    min-height: 50% !important;
    max-width: 100%;
    height: 100% !important;
}

/*#endregion */


/*#region Line Breaks*/

hr.style1{
	border-top: 1px solid #8c8b8b;
}


hr.style2 {
	border-top: 3px double #8c8b8b;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

hr.style4 {
	border-top: 1px dotted #8c8b8b;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}


hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

hr.style9 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

hr.style10 {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}


hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}


hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

/*#endregion */
