
/** {
    font-family: 'Comic Sans MS';
    font-size: medium;
}*/


body {
    background-color: #1e2329 !important;
}

p {
    font-size: x-small;
    color: #fff;
    font-family: 'Trebuchet MS';
}


h1 {
    font-size: xx-large !important;
}

h2 {
    color: #99b9e4 !important;
}

nav {
    background-color: #1e2329 !important;
    border-bottom: #1e2329 !important;
}

a:hover {
    font-weight: 900;
}

.homeLogo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto 115% auto;
    max-width: 150px;
}

.spacer {
    padding: 5% 0% 0% 0%;
    font-size: smaller;
    font-style: italic;
}

.clickable {
    cursor: pointer;
}

.loading {
    cursor: wait;
}

.password {
    -webkit-text-security: disc;
}

.uib-datepicker .btn-default {
    background-image: none;
}


    .uib-datepicker .btn-default:hover {
        box-shadow: 0 14px 26px -12px rgba(163, 134, 175, 0.28), 0 4px 23px 0px rgba(199, 126, 218, 0.42), 0 8px 10px -5px rgba(64, 41, 72, 0.58);
    }

.uib-datepicker .text-info {
    color: #fff
}

.delete .card:hover {
    background-color: #d07e7e
}

.update .card:hover {
    background-color: #93d07e
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    overflow: visible;
    background-position: center;
    background-size: 100% 100% !important;
    height: 35em !important;
}

form > div {
    margin-bottom: 10%;
}

.nav > li {
    padding: 0 0 !important;
}


.spin {
    position: relative;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.reversespin {
    position: relative;
    -webkit-animation-name: reversespin;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.particles {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}

/*Button Styles*/
.btn-toggle0 {
    background-color: rgb(168, 128, 97) !important;
}

.btn-toggle1 {
    background-color: rgb(81, 63, 49) !important;
}


/*Border Styles*/
.borderControl {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    font-weight: 400;
    border: 2px solid #962d3e;
}

    .borderControl::before,
    .borderControl::after {
        content: "";
        position: absolute;
        background-color: white;
        z-index: 0;
        transition: 200ms ease-in;
        transform-origin: center center;
    }

    .borderControl::before {
        width: calc(100% + 2px * 2 - 10px);
        height: calc(100% + 2px * 2);
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
    }

    .borderControl::after {
        height: calc(100% + 2px * 2 - 10px);
        width: calc(100% + 2px * 2);
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
    }

    .borderControl:hover::before {
        width: 0;
    }

    .borderControl:hover::after {
        height: 0;
    }

    .borderControl div {
        position: relative;
        display: inline-block;
        color: #979c9c;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1em;
        font-size: 0.7em;
        padding: 5px 20px;
        margin: 0 2px;
        z-index: 1;
    }

        .borderControl div::after {
            content: attr(data-number);
            display: block;
            font-family: Lora;
            font-style: italic;
        }


foreignObject > span {
    color: rgba(138, 138, 138, 0.74) !important;
}

/*Circle Designs*/
.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 11px 10px 61px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 61px -10px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 61px -10px rgba(0,0,0,0.75);
    margin-bottom: 25%;
    position: relative;
    text-align: center;
    display: block;
    padding-bottom: 90%;
    width: 90%;
    height: 0;
    background-image: radial-gradient(circle closest-side at 40% 38%, #ffffff -30%, #909090 135%);
    cursor: url("/assets/img/favicon.png"), pointer !important;
}

    .circle:hover {
        -webkit-box-shadow: inset 11px 10px 61px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 11px 10px 61px -10px rgba(0,0,0,0.75);
        box-shadow: inset 11px 10px 61px -10px rgba(0,0,0,0.75);
    }

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    text-align: center;
    color: #4689a0 !important;
    font-size: 90%;
    font-variant: small-caps;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

    .circle__content:hover {
        font-weight: 900;
    }

    .circle__content > a {
        text-align: center;
        color: #4689a0 !important;
        font-size: 50%;
        font-variant: small-caps;
        font-weight: 400;
    }

        .circle__content > a:hover {
            font-weight: 900;
        }

.card-footer > span {
    padding-bottom: 1em !important;
}

.animsition {
    position: inherit !important;
}

.text-blueish {
    font-weight: 600;
    font-variant: small-caps;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.36);
}

.typewriter {
    color: #ffffff;
    padding-bottom: 30px;
    overflow: hidden no-display; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ffffff; /* The typwriter cursor */
    white-space: pre-line; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 10.5s steps(60, end), blink-caret .5s step-end infinite;
}

.project {
    background: linear-gradient(rgba(29, 35, 40, 0.0), rgba(30, 35, 40, .0));
    padding-bottom: 22%;
}

#leftSide {
    padding: 0 !important;
}

#rightSide {
    background: linear-gradient(rgba(29, 35, 40, 0.79), rgba(30, 35, 40, .5));
    background-color: rgba(30, 35, 41, 0.9);
}

#dynamicGraphs {
    padding-left: 0 !important;
}

#homePage {
    padding-left: 20% !important;
    padding-top: 20% !important;
}

.scrollable-content {
    overflow-x: hidden;
    overflow-y: scroll;
}

    .scrollable-content::-webkit-scrollbar {
        width: 0px;
    }

        .scrollable-content::-webkit-scrollbar * {
            background: transparent;
        }

    .scrollable-content::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.4) !important;
    }

.tabs-basic {
    background: inherit !important;
}

    .tabs-basic > li > a,
    .tabs-basic > li > a:hover,
    .tabs-basic > li > a:focus {
        color: #000000 !important;
    }

    .tabs-basic > li.active > a {
        font-size: large
    }




/*#region @medias and @keyframes */

@media only screen and (max-width: 900px) {

    .h-content {
        text-align: center;
    }

    .main-logo {
        margin: 0px 30%;
    }
}


@media only screen and (min-width: 900px) {

    #leftSide {
        width: 50% !important;
        float: left !important;
    }

    #rightSide {
        width: 50% !important;
        float: right !important;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: mediumseagreen;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


@-webkit-keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}
/*#endregion */

