

/*#region SWIPER JS */

.swiper-wrapper {
    position: relative;
}

.swiper-container {
    height: auto !important;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    overflow: visible;
    background-position: center;
    background-size: 100% 100% !important;
    min-height: 50% !important;
    max-width: 100%;
    height: 100% !important;
}



/*#endregion */

/*#region Button Styles*/
.btn-toggle0 {
    background-color: rgb(168, 128, 97) !important;
}

.btn-toggle1 {
    background-color: rgb(81, 63, 49) !important;
}
/*#endregion */

/*#region Border Styles*/
.borderControl {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 2px;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    font-weight: 400;
    border: 2px solid #962d3e;
}

    .borderControl::before,
    .borderControl::after {
        content: "";
        position: absolute;
        background-color: white;
        z-index: 0;
        transition: 200ms ease-in;
        transform-origin: center center;
    }

    .borderControl::before {
        width: calc(100% + 2px * 2 - 10px);
        height: calc(100% + 2px * 2);
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
    }

    .borderControl::after {
        height: calc(100% + 2px * 2 - 10px);
        width: calc(100% + 2px * 2);
        left: -2px;
        top: 50%;
        transform: translateY(-50%);
    }

    .borderControl:hover::before {
        width: 0;
    }

    .borderControl:hover::after {
        height: 0;
    }

    .borderControl div {
        position: relative;
        display: inline-block;
        color: #979c9c;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 1em;
        font-size: 0.7em;
        padding: 5px 20px;
        margin: 0 2px;
        z-index: 1;
    }

        .borderControl div::after {
            content: attr(data-number);
            display: block;
            font-family: Lora;
            font-style: italic;
        }


foreignObject > span {
    color: rgba(138, 138, 138, 0.74) !important;
}
/*#endregion */

/*#region Circle Designs*/
.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 11px 10px 61px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 61px -10px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 61px -10px rgba(0,0,0,0.75);
    margin-bottom: 25%;
    position: relative;
    text-align: center;
    display: block;
    padding-bottom: 90%;
    width: 90%;
    height: 0;
    background-image: radial-gradient(circle closest-side at 40% 38%, #ffffff -30%, #909090 135%);
    cursor: url("/assets/img/favicon.png"), pointer !important;
}

    .circle:hover {
        -webkit-box-shadow: inset 11px 10px 61px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 11px 10px 61px -10px rgba(0,0,0,0.75);
        box-shadow: inset 11px 10px 61px -10px rgba(0,0,0,0.75);
    }

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    text-align: center;
    color: #4689a0 !important;
    font-size: 90%;
    font-variant: small-caps;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

    .circle__content:hover {
        font-weight: 900;
    }

    .circle__content > a {
        text-align: center;
        color: #4689a0 !important;
        font-size: 50%;
        font-variant: small-caps;
        font-weight: 400;
    }

        .circle__content > a:hover {
            font-weight: 900;
        }
/*#endregion */

/*#region Blur Menu */

.menu ul li {
    display: inline;
}

    .menu ul li a {
        color: black;
        float: left;
        text-decoration: none;
        padding: 10px 25px;
        letter-spacing: 1px;
    }

.menu:hover li a {
    text-shadow: 0 0 3px #555;
    color: rgba(0,0,0,0); /* completely hide text, only show our blurry shadow ;) */
    -webkit-transition: all .3s;
}

.menu li a:hover {
    color: black;
    text-shadow: 0 0 0 rgba(0,0,0,0); /* completely removes any trace of a visible text-shadow */
}

.menu li a:active {
    position: relative;
    top: 2px;
}

/*#endregion */

/*#region Custom Styles + Overrides */

body {
    background-color: #1e2329 !important;
}

p {
    font-size: x-small;
    color: #fff;
    font-family: 'Trebuchet MS';
}


h1 {
    font-size: xx-large !important;
}

h2 {
    color: #99b9e4 !important;
}

nav {
    background-color: #1e2329 !important;
    border-bottom: #1e2329 !important;
}

a:hover {
    font-weight: 900;
}

.noshadow {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
}

.text-greyBold {
    color: rgb(167, 164, 191) !important;
    font-weight: 600;
    font-variant: inherit;
}

.text-grey {
    color: rgb(146, 146, 146) !important;
    font-variant: inherit;
}

.nav-pills > li.active > a {
    color: white !important;
}

.spacer {
    padding: 5% 0% 0% 0%;
    font-size: smaller;
    font-style: italic;
}

.clickable {
    cursor: pointer;
}

.loading {
    cursor: wait;
}

.password {
    -webkit-text-security: disc;
}



.uib-datepicker .text-info {
    color: #fff
}

.delete .card:hover {
    background-color: #d07e7e
}

.update .card:hover {
    background-color: #93d07e
}


form > div {
    margin-bottom: 10%;
}

.nav > li {
    padding: 0 0 !important;
}

.particles {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: -1;
}

.uib-datepicker .btn-default {
    background-image: none;
}


    .uib-datepicker .btn-default:hover {
        box-shadow: 0 14px 26px -12px rgba(163, 134, 175, 0.28), 0 4px 23px 0px rgba(199, 126, 218, 0.42), 0 8px 10px -5px rgba(64, 41, 72, 0.58);
    }

.link-container1 {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    margin: 0 0 0 0px;
    padding: 20px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 0 11px 11px;
    border-radius: 0 11px 11px;
    font: normal 16px/1 "Trebuchet MS", Helvetica, sans-serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(43,46,48,1);
    -webkit-box-shadow: 0 2px 1px 1px rgba(0,0,0,0.56);
    box-shadow: 0 2px 1px 1px rgba(0,0,0,0.56);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

    .link-container1:hover {
        margin: 0 0 0 70px;
        font: normal normal bold 16px/1 "Trebuchet MS", Helvetica, sans-serif;
        /*background: rgba(45,48,51,1);*/
        -webkit-transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
        -moz-transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
        -o-transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
        transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
    }

        .link-container1:hover::after {
            margin: 0 0 0 0px;
            font: normal normal bold 16px/1 "Trebuchet MS", Helvetica, sans-serif;
            /*background: rgba(45,48,51,1);*/
            -webkit-transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
            -moz-transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
            -o-transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
            transition: all 200ms cubic-bezier(0.32, -0.27, 0.77, 1.215) 10ms;
        }

.card-footer > span {
    padding-bottom: 1em !important;
}

.animsition {
    position: inherit !important;
}

.text-blueish {
    font-weight: 600;
    font-variant: small-caps;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.36);
}

.project {
    background: linear-gradient(rgba(29, 35, 40, 0.0), rgba(30, 35, 40, .0));
    padding-bottom: 22%;
}

#leftSide {
    padding: 0 !important;
}

#rightSide {
    background: linear-gradient(rgba(29, 35, 40, 0.79), rgba(30, 35, 40, .5));
    background-color: rgba(30, 35, 41, 0.9);
}

#dynamicGraphs {
    padding-left: 0 !important;
}

.scrollable-content {
    overflow-x: hidden;
    overflow-y: scroll;
}

    .scrollable-content::-webkit-scrollbar {
        width: 0px;
    }

        .scrollable-content::-webkit-scrollbar * {
            background: transparent;
        }

    .scrollable-content::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.4) !important;
    }

.tabs-basic {
    background: inherit !important;
}

    .tabs-basic > li > a,
    .tabs-basic > li > a:hover,
    .tabs-basic > li > a:focus {
        color: #000000 !important;
    }

    .tabs-basic > li.active > a {
        font-size: large
    }

.mdl-list__item {
    color: white !important;
}

    .mdl-list__item:hover > span > i {
        padding-right: 60px;
    }

.icon-xs {
    width: 25px;
    height: 25px;
}

.social_icons li a svg g > g > *, #homeCenter .social_icons li svg g > g > * {
    font-size: 1.4em;
    transition: all .3s;
    display: inline-block;
    padding: 15px;
}

    .social_icons li a svg g > g > *:hover, #homeCenter .social_icons li svg g > g > *:hover {
        fill: black;
        transition: .1s;
    }

/*#endregion */

/*#region Bootstrap v4 Flex Classes*/

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}

.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}

.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}

.align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}

.align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}

.align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}

.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}

.align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
}

.align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}

.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}

.align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}

@media (min-width: 576px) {
    .flex-sm-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

    .flex-sm-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .flex-sm-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .flex-sm-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .flex-sm-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-sm-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-sm-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .flex-sm-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
    }

    .flex-sm-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    }

    .flex-sm-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }

    .flex-sm-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    }

    .flex-sm-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important;
    }

    .justify-content-sm-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }

    .justify-content-sm-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .justify-content-sm-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .justify-content-sm-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .justify-content-sm-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .align-items-sm-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }

    .align-items-sm-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }

    .align-items-sm-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .align-items-sm-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important;
    }

    .align-items-sm-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }

    .align-content-sm-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    }

    .align-content-sm-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
    }

    .align-content-sm-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important;
    }

    .align-content-sm-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
    }

    .align-content-sm-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
    }

    .align-content-sm-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
    }

    .align-self-sm-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important;
    }

    .align-self-sm-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .align-self-sm-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .align-self-sm-center {
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    .align-self-sm-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
    }

    .align-self-sm-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

    .flex-md-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .flex-md-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .flex-md-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .flex-md-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-md-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .flex-md-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
    }

    .flex-md-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    }

    .flex-md-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }

    .flex-md-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    }

    .flex-md-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important;
    }

    .justify-content-md-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }

    .justify-content-md-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .justify-content-md-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .justify-content-md-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .justify-content-md-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .align-items-md-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }

    .align-items-md-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }

    .align-items-md-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .align-items-md-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important;
    }

    .align-items-md-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }

    .align-content-md-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    }

    .align-content-md-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
    }

    .align-content-md-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important;
    }

    .align-content-md-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
    }

    .align-content-md-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
    }

    .align-content-md-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
    }

    .align-self-md-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important;
    }

    .align-self-md-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .align-self-md-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .align-self-md-center {
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    .align-self-md-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
    }

    .align-self-md-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

    .flex-lg-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .flex-lg-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .flex-lg-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .flex-lg-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-lg-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-lg-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .flex-lg-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
    }

    .flex-lg-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    }

    .flex-lg-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }

    .flex-lg-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    }

    .flex-lg-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important;
    }

    .justify-content-lg-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }

    .justify-content-lg-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .justify-content-lg-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .justify-content-lg-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .justify-content-lg-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .align-items-lg-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }

    .align-items-lg-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }

    .align-items-lg-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .align-items-lg-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important;
    }

    .align-items-lg-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }

    .align-content-lg-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    }

    .align-content-lg-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
    }

    .align-content-lg-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important;
    }

    .align-content-lg-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
    }

    .align-content-lg-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
    }

    .align-content-lg-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
    }

    .align-self-lg-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important;
    }

    .align-self-lg-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .align-self-lg-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .align-self-lg-center {
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    .align-self-lg-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
    }

    .align-self-lg-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        -ms-flex-direction: row !important;
        flex-direction: row !important;
    }

    .flex-xl-column {
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .flex-xl-row-reverse {
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
    }

    .flex-xl-column-reverse {
        -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
    }

    .flex-xl-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }

    .flex-xl-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }

    .flex-xl-wrap-reverse {
        -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
    }

    .flex-xl-fill {
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
    }

    .flex-xl-grow-0 {
        -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
    }

    .flex-xl-grow-1 {
        -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
    }

    .flex-xl-shrink-0 {
        -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
    }

    .flex-xl-shrink-1 {
        -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important;
    }

    .justify-content-xl-start {
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
    }

    .justify-content-xl-end {
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
    }

    .justify-content-xl-center {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .justify-content-xl-between {
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .justify-content-xl-around {
        -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    }

    .align-items-xl-start {
        -ms-flex-align: start !important;
        align-items: flex-start !important;
    }

    .align-items-xl-end {
        -ms-flex-align: end !important;
        align-items: flex-end !important;
    }

    .align-items-xl-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .align-items-xl-baseline {
        -ms-flex-align: baseline !important;
        align-items: baseline !important;
    }

    .align-items-xl-stretch {
        -ms-flex-align: stretch !important;
        align-items: stretch !important;
    }

    .align-content-xl-start {
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    }

    .align-content-xl-end {
        -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
    }

    .align-content-xl-center {
        -ms-flex-line-pack: center !important;
        align-content: center !important;
    }

    .align-content-xl-between {
        -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
    }

    .align-content-xl-around {
        -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
    }

    .align-content-xl-stretch {
        -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
    }

    .align-self-xl-auto {
        -ms-flex-item-align: auto !important;
        align-self: auto !important;
    }

    .align-self-xl-start {
        -ms-flex-item-align: start !important;
        align-self: flex-start !important;
    }

    .align-self-xl-end {
        -ms-flex-item-align: end !important;
        align-self: flex-end !important;
    }

    .align-self-xl-center {
        -ms-flex-item-align: center !important;
        align-self: center !important;
    }

    .align-self-xl-baseline {
        -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
    }

    .align-self-xl-stretch {
        -ms-flex-item-align: stretch !important;
        align-self: stretch !important;
    }
}

/*#endregion */

/*#region ANIMATIONS */
.spin {
    position: relative;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.reversespin {
    position: relative;
    -webkit-animation-name: reversespin;
    -webkit-animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.typewriter {
    color: #ffffff;
    padding-bottom: 30px;
    overflow: hidden no-display; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ffffff; /* The typwriter cursor */
    white-space: pre-line; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 10.5s steps(60, end), blink-caret .5s step-end infinite;
}

/*#endregion */

/*#region @medias and @keyframes */




@media only screen and (max-width: 899px) {

    #homePage {
        padding-top: 0% !important;
    }
}

@media only screen and (min-width: 900px) {

    #homePage {
        padding-top: 25% !important;
    }
}

@media only screen and (min-width: 900px) {

    #leftSide {
        width: 50% !important;
        float: left !important;
    }

    #rightSide {
        width: 50% !important;
        float: right !important;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1024px) {

    .project {
        padding-bottom: 170% !important;
    }
}


@media only screen and (max-width: 900px) {

    .h-content {
        text-align: center;
    }

    .main-logo {
        margin: 0px 30%;
    }
}



@media only screen and (max-width: 500px) {

    .main-logo {
        margin: 0px 25%;
    }
}


@media only screen and (max-width: 450px) {

    .main-logo {
        margin: 0px 20%;
    }
}


@media only screen and (max-width: 400px) {

    .main-logo {
        margin: 0px 15%;
    }
}


/*#region The typewriter cursor effect  */

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: mediumseagreen;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}


@-webkit-keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes reversespin {
    from {
        -webkit-transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
    }
}

/*#endregion */

/*#endregion */

