<div class="row" ng-controller="personalProjectsController as pp" style="margin-top: 25%;">
    <div class="col-xs-10 spin">

        <div class="col-xs-5">
            <a href="#!dynamicGraphs">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                 Graph Builder
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-5">
            <a href="#!cardBuilder">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                 Card Builder
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

         <div class="col-xs-5">
            <a href="#!billManager">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                Bill Manager
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>