<script type="text/html" id="card">
    <div>
     
        <div class="card">
            <div class="row">
                <div class="card-header">
                    <i class="header"></i>
                </div>
            </div>
            <div class="row">
                <div class="card-content">
                    <i class="content"></i>
                </div>
            </div>
            <div class="row">
                <div class="card-footer">
                    <i class="footer"></i>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="small-Temp">
    <small class="smallText"></small>
</script>

<script type="text/html" id="image-Temp">
    <div class="card-image">
        <img class="img" />
    </div>
</script>

<script type="text/html" id="video-Temp">
    <div class="card-image">
        <iframe class="vid" src="#"></iframe>
    </div>
</script>