<div>
    <ul class="gallery project_navigation">
        <li class="item col-xs-12 col-md-6">
            <figure>
                <img src="/assets/img/lashGirlScreenShot.png" alt="This is my work" class="img-responsive" />
                <figcaption class="caption">
                    <div class="photo-details">
                        <h4>Lash Girl Club</h4>
                        <p></p>
                    </div>
                    <a href="https://lashgirl.azurewebsites.net" class="view">VIEW</a>
                </figcaption>
            </figure>
        </li>
        <li class="item col-xs-12 col-md-6">
            <figure>
                <img src="/assets/img/amarkCover.png" alt="This is my work" class="img-responsive" />
                <figcaption class="caption">
                    <div class="photo-details">
                        <h4>A-Mark Precious Metals</h4>
                        <p></p>
                    </div>
                    <a href="https://amark.com" class="view">VIEW</a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>