<div>
    <div class="row text-center">
        <a class="text-blueish">View Code</a>
    </div>
    <div class="row">
        <h2 class="text-center text-primary text-blueish">Bill Manager</h2>
        <ul class="nav nav-tabs nav-justified">
            <li class="active" role="presentation"><a role="tab" data-target="#incomeTab" data-toggle="tab" ng-click="pg.changeCurrentTab('income')">Incomes</a></li>
            <li role="presentation"><a role="tab" data-target="#combinedTab" data-toggle="tab" ng-click="pg.changeCurrentTab('combined')">Incomes & Expenses</a></li>
            <li role="presentation"><a role="tab" data-target="#expenseTab" data-toggle="tab" ng-click="pg.changeCurrentTab('expense')">Expenses</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1 text-center">
            <div class="input-group">
                <strong>Beginning Date:</strong>
                <input type="text" uib-datepicker-popup ng-model="pg.beginDate" ng-change="pg.updateChart()" class="form-control well well-sm" is-open="pg.isStart" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-xs btn-simple" ng-click="pg.openDatePicker('start')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 text-center">
            <div class="input-group">
                <strong>Ending Date:</strong>
                <input type="text" uib-datepicker-popup ng-model="pg.endDate" ng-change="pg.updateChart()" class="form-control well well-sm" is-open="pg.isEndding" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-xs btn-simple" ng-click="pg.openDatePicker('end')"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="assetChartTabContainer" class="tab-content">
            <div id="incomeTab" class="tab-pane active fade in" role="tabpanel">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>{{ pg.charts[0].data.name }}</h6>
                        </div>
                        <div class="card-content text-center">
                            <div id="incomeChart" class="card-content text-center ct-golden-section">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="expenseTab" class="tab-pane fade" role="tabpanel">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>{{ pg.charts[1].data.name }}</h6>
                        </div>
                        <div class="card-content text-center">
                            <div id="expenseChart" class="card-content text-center ct-golden-section">
                            </div>
                        </div>
                        <!--<div>
                            <button ng-click="pg.openMainmMenuModal('expense')">Expenses</button>
                        </div>-->
                    </div>
                </div>
            </div>
            <div id="combinedTab" class="tab-pane fade" role="tabpanel">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h6>{{ pg.charts[2].data.name }}</h6>
                        </div>
                        <div class="card-content text-center">
                            <div id="combinedChart" class="card-content text-center ct-golden-section">
                            </div>
                        </div>
                        <!--<div>
                            <button ng-click="pg.openMainmMenuModal('combined')">Income & Expenses</button>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div align="center">
            <button class="btn btn-xs btn-round" ng-click="pg.openMainMenuModal((pg.currentTab == 'income') ? 'income' : (pg.currentTab == 'expense') ? 'expense' : 'combined')">All {{ (pg.currentTab == 'income') ? 'Income' : (pg.currentTab == 'expense') ? 'Expense' : 'Incomes & Expenses' }}</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modelBillMainMenu.html">
    <div class="card modal-body">
        <div class="row text-center">
            <h4>All {{ mm.type == "income" ? "Incomes" : mm.type == "expense" ? "Expenses" : "Income & Expenses" }}</h4>
            <button class="btn btn-xs btn-round" ng-if="mm.type !== 'combined'" ng-click="mm.openInsertModal()">Add {{ mm.type == "income" ? "Income" : "Expense" }}</button>
        </div>
        <div class="row">
            <div ng-repeat="item in mm.items" class="col-xs-6 text-center">
                <div>
                    <h5>{{ item.name }}</h5>
                </div>
                <div>
                    <strong>Cost: {{ item.cost | currency }}</strong>
                </div>
                <div>
                    Type: {{ (item.incomeType) ? mm.enums.income[item.incomeType] : mm.enums.expense[item.expenseType] }}
                </div>
                <div>
                    Schedule: {{  mm.enums.schedule[item.paySchedule] }}
                </div>
                <div>
                    <strong>Date Paid: {{ (item.paySchedule == 3 || item.paySchedule == 4) ? (item.timePaid | date:'MMMM yyyy') :  (item.paySchedule == 6 || item.paySchedule == 7) ? (item.timePaid | date:'EEEE') : (item.paySchedule == 8 || item.paySchedule == 9) ? (item.timePaid | date:'h:mma') : (item.timePaid | date:'longDate') }}</strong>
                </div>
                <div>
                    <div>Hidden - <input type="checkbox" ng-checked="item.isHiddenOnChart" /></div>
                    <div class="btn-group btn-group-xs" >
                        <button class="btn btn-round" style="background-color: #58AA42" ng-click="mm.openInsertModal(item)">Edit</button>
                        <button class="btn btn-round" style="background-color: #CB2A2A" ng-click="mm.deleteAsset(item)">X</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modalExpenseBuilder.html">
    <div class="card modal-body">
        <form name="form" novalidate>
            <div class="card-content">
                <div class="row" align="center">
                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col-sm-6">
                            <span><strong>{{ mc.type == "income" ? "Income" : "Expense" }} Name:</strong></span>
                            <input type="text" class="input-sm" required ng-model="mc.name" />
                        </div>
                        <div class="col-sm-6">
                            <span><strong>{{ mc.type == "income" ? "Income" : "Expense" }} Price:</strong></span>
                            <input type="number" class="input-sm" required ng-model="mc.cost" />
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col-sm-6">
                            <span><strong>{{ mc.type == "income" ? "Income" : "Expense" }} Type:</strong></span>
                            <select ng-if="mc.type == 'income'" ng-model="mc.incomeType">
                                <option value="1">Paycheck</option>
                                <option value="2">Residual</option>
                                <option value="3">Product</option>
                                <option value="4">Personal</option>
                            </select>
                            <select ng-if="mc.type != 'income'" ng-model="mc.expenseType">
                                <option value="1">Shelter</option>
                                <option value="2">Food</option>
                                <option value="3">Travel</option>
                                <option value="4">Educational</option>
                                <option value="5">Utilities</option>
                                <option value="6">Entertaiment</option>
                                <option value="7">Recreational</option>
                                <option value="8">Investment</option>
                                <option value="9">Other</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <span><strong>Schedule Type:</strong></span>
                            <select ng-model="mc.paySchedule">
                                <option value="1">Occasionally</option>
                                <option value="2">Once</option>
                                <option value="3">Yearly</option>
                                <option value="4">Bi-Yearly</option>
                                <option value="5">Monthly</option>
                                <option value="6">Bi-Weekly</option>
                                <option value="7">Weekly</option>
                                <option value="8">Daily</option>
                                <!--<option value="9">Hourly</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 4%;">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span><strong>Date Paid:</strong></span>
                                <input type="text" uib-datepicker-popup ng-model="mc.timePaid" class="form-control well well-sm" is-open="mc.isTimePaidOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-xs btn-simple" ng-click="mc.openDatePicker('timePaid')"><i class="glyphicon glyphicon-calendar" style="color:black"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span><strong>Beginning Pay Date:</strong></span>
                                <input type="text" uib-datepicker-popup ng-model="mc.beginDate" class="form-control well well-sm" is-open="mc.isBeginDateOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-xs btn-simple" ng-click="mc.openDatePicker('beginDate')"><i class="glyphicon glyphicon-calendar" style="color:black"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span><strong>Endding Pay Date:</strong></span>
                                <input type="text" uib-datepicker-popup ng-model="mc.endDate" class="form-control well well-sm" is-open="mc.isEndDateOpen" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-xs btn-simple" ng-click="mc.openDatePicker('endDate')"><i class="glyphicon glyphicon-calendar" style="color:black"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-round"
                                    ng-disabled="!mc.name || !mc.type || !mc.paySchedule || !mc.timePaid"
                                    ng-click="mc.submit()">
                                Add {{ mc.type == "income" ? "Income" : "Expense" }}!
                            </button>
                            <button class="btn btn-round" style="background-color: #d1b100" ng-click="mc.reset()">
                                Reset!
                            </button>
                            <button style="background-color: #CB2A2A" class="btn btn-round" ng-click="mc.cancel()">
                                Cancel
                            </button>
                        </div>
                        <select ng-model="mc.isHiddenOnChart">
                            <option value="0">Show</option>
                            <option value="1">Hide</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>