<div class="row" id="homePage">

    <div class="col-xs-10 spin hidden-xs">
        <div class="col-xs-5">
            <a href="#!applicationsInProgress">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                Personal Applications
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-5">
            <a href="#!pastProjects" class="hidden-xs">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                Previous Workplaces
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-5">
            <a href="#!contact" class="hidden-xs">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                Contact Nile
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-5">
            <a href="#!about" class="hidden-xs">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                About Nile
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>