<div class="row">
    <div class="col-xs-10 spin">
        <div class="col-xs-5">
            <a href="#!applicationsInProgress">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                Applications in Progress
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-5">
            <a href="#!pastProjects">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                Past Projects
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-5">
            <a href="#!contact">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                Contact Nile
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-5">
            <a href="#!about">
                <div class="circle reversespin">
                    <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                About Nile
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>