<form name="logVm.logForm">
    <div class="card card-login">
        <div class="card-header text-center">
            <h4 class="card-title">
                Login
            </h4>
        </div>
        <div class="card-content">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons" style="color:black">email</i>
                </span>
                <div class="form-group label-floating"
                     ng-class="{ 'has-success': logVm.logForm.username.$valid, 'has-error': logVm.logForm.username.$invalid && logVm.logForm.username.$dirty}">
                    <label class="control-label">Username / Email address</label>
                    <input name="username"
                           id="username"
                           type="text"
                           ng-model="logVm.username"
                           ng-minlength="6"
                           required
                           class="form-control">
                    <span class="form-control-feedback"
                          ng-show="logVm.logForm.username.$valid">
                        <i class="material-icons">done</i>
                    </span>
                    <div class="text-danger"
                         ng-show="logVm.logForm.username.$error.required && logVm.logForm.username.$dirty">
                        <em>
                            This field is required!
                        </em>
                    </div>
                    <div class="text-danger"
                         ng-show="logVm.logForm.username.$touched && logVm.logForm.username.$error.minlength">
                        <em>
                            This field is too short!
                        </em>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons" style="color:black">lock_outline</i>
                </span>
                <div class="form-group label-floating"
                     ng-class="{ 'has-success': logVm.logForm.password.$valid, 'has-error': logVm.logForm.password.$invalid && logVm.logForm.password.$dirty}">
                    <label class="control-label">Password</label>
                    <input name="password"
                           id="password"
                           type="password"
                           ng-minlength="12"
                           ng-model="logVm.password"
                           required
                           enter-press="logVm.submitLogin()"
                           class="form-control">
                    <span class="form-control-feedback"
                          ng-show="logVm.logForm.password.$valid">
                        <i class="material-icons">done</i>
                    </span>
                    <div class="text-danger"
                         ng-show="logVm.logForm.password.$error.required && logVm.logForm.password.$dirty">
                        <em>
                            This field is required!
                        </em>
                    </div>
                    <div class="text-danger"
                         ng-show="logVm.logForm.password.$dirty && logVm.logForm.password.$error.minlength">
                        <em>
                            This field is too short!
                        </em>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer text-center">
            <div class="text-danger"
                 ng-show="logVm.reason !== null">
                <em>
                    {{ logVm.reason }}
                </em>
            </div>
            <button class="btn btn-sm btn-round btn-primary" ng-click="logVm.login()">Let's go</button>
            <div><a href="" ng-click="logVm.signUp()">Don't have an account?</a></div>
            <div><a href="" ng-click="logVm.forgotPassword()">Forgot Password?</a></div>
        </div>
    </div>
</form>
