<div>
    <ul class="gallery project_navigation">
        <li class="item col-xs-6 col-md-12">
            <figure>
                <!-- Your picture -->
                <img src="/assets/img/lashGirlScreenShot.png" alt="This is my work" class="img-responsive" />
                <!-- Picture's description below this one -->
                <figcaption class="caption">
                    <div class="photo-details">
                        <h4>Lash Girl Club</h4>
                        <p></p>
                    </div>
                    <a href="https://lashgirl.azurewebsites.net" class="view">VIEW</a>
                </figcaption>
            </figure>
        </li>
    </ul>
</div>