<div class="col-xs-12">
    <div class="card" style="padding-bottom: 2%;">
        <div class="card-header">
            <ul class="nav nav-tabs nav-justified tabs-basic">
                <li role="presentation" class="active">
                    <a role="tab" data-target="#userGeneralTab" data-toggle="tab">Account</a>
                </li>
                <li role="presentation">
                    <a role="tab" data-target="#userContactTab" data-toggle="tab">Contact</a>
                </li>
                <li role="presentation">
                    <a role="tab" data-target="#userSettingsTab" data-toggle="tab">Settings</a>
                </li>
            </ul>
            <i class="material-icons" style="color:black">pencil</i>
        </div>

        <div class="card-content text-center">
            <h3>
                {{ pg.user.userName }}
            </h3>
            <div class="tab-content">
                <div id="userGeneralTab" class="active tab-pane fade in" role="tabpanel">
                    <div class="col-6-sm">
                        {{ pg.user.contact.firstName + ' ' + pg.user.contact.lastName }}
                    </div>
                    <div>
                        Password:
                        <div class="col-12-sm password">
                            {{ 'isnothardcoded' }}
                        </div>
                    </div>
                    <div>
                        Member Since
                        <div class="col-12-sm">
                            {{ pg.user.dateCreated | date:'longDate' }}
                        </div>
                    </div>
                </div>
                <div id="userContactTab" class="tab-pane fade" role="tabpanel">
                    <div>
                        Email:
                        <div class="col-6-sm">
                            {{ pg.user.contact.primaryEmail }}
                        </div>
                    </div>
                    <div>
                        Phone:
                        <div class="col-6-sm">
                            {{ pg.user.contact.primaryPhone || 'NA' }}
                        </div>
                    </div>
                </div>
                <div id="userSettingsTab" class="tab-pane fade" role="tabpanel">
                    <div class="col-6-sm">
                        Two Factor Authitcation: <input type="checkbox" ng-checked="pg.user.settings.twoFactorAuthEnabled" ng-model="pg.user.settings.twoFactorAuthEnabled" />
                        <div class="col-6-sm">
                            By Email: <input type="checkbox" ng-checked="pg.user.settings.twoFactorAuthEnabled" ng-model="pg.user.settings.tFAuthByPhone" />
                        </div>
                        <div class="col-6-sm">
                            By Phone: <input type="checkbox" ng-checked="pg.user.settings.twoFactorAuthEnabled" ng-model="pg.user.settings.tFAuthByEmail" />
                        </div>
                    </div>
                    <div class="col-6-sm">
                        Device Authentication Before Login: <input type="checkbox" ng-checked="pg.user.settings.validateIPBeforeLogin" ng-model="pg.user.settings.validateIPBeforeLogin" />
                    </div>
                    <div class="col-6-sm">
                        Hook up card! <i class="material-icons">open_in_browser</i>
                    </div>
                </div>
            </div>
            <button ng-if="pg.hasUserChanged()" ng-click="pg.updateUser()" class="btn btn-sm btn-round" style="color:#AA3131">Apply!</button>
        </div>
    </div>
</div>