<connectionStrings>
  
  <!--<add name="DefaultConnection"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Sandbox;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->

  <add name="DefaultConnection"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Sandbox;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  
  <add name="AzureDBConnection"
       providerName="System.Data.SqlClient"
       connectionString="Server=tcp:nostreetssandbox.database.windows.net;Database=nostreetssandbox;User ID=nostreets@nostreetssandbox;Password=0P9O8I7U6Y%t;Trusted_Connection=False;Encrypt=True;"/>
  
  <add name="GoogleConnection"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=35.230.109.117;Initial Catalog=Sandbox;Integrated Security=False;User ID=nostreets;Password=0P9O8I7U6Y%t;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"/>
  
</connectionStrings>