<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="WhitelistedIps" value="{
                        Home: '10.10.10.218',
                        Local: '::1'
                       }" />
  <add key="SparkPost.ApiKey" value="dfa5637ef2d022a664617bac1cf9a1a487311943" />
  <add key="SparkPost.Username" value="SMTP_Injection" />
  <add key="SparkPost.SmptHost" value="smtp.sparkpostmail.com" />
  <add key="SendGrid.ApiKey" value="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" />
  <add key="CryptoKey" value="you_Already_Know" />
  <!--
  +CLOUD CASHE
  
  <add key="Redis.Host" value="nostreetssandbox.redis.cache.windows.net" />
  <add key="Redis.Port" value="6380" />
  <add key="Redis.Password" value="f+UOIi4ZzQxbEMircGxGInGkeBCNlv1k+6C8wpevbc0=" />
  -->

</appSettings>
