<div>
    <div class="card" ng-if="regVm.requestSuccessful === true && !regVm.isLoading">
        <div class="card-content text-center">
            <div>Registation Email has been sent...</div>
            <div class="danger">Validate Email to be able to login!</div>
        </div>
    </div>

    <div class="card" ng-if="regVm.requestSuccessful === false && !regVm.isLoading">
        <div class="card-content text-center">
            <div class="danger">Problem sending registation email...</div>
            <a href="" ng-click="regVm.submit()">Try Again?</a>
        </div>
    </div>

    <div class="text-center" ng-show="regVm.isLoading">
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
    </div>

    <form class="form theRegisterForm card"
          name="regVm.regForm"
          ng-if="regVm.requestSuccessful === null && !regVm.isLoading"
          novalidate>
        <div class="card-header" style="margin-bottom:auto">
            <div class="card-title">
                Register
            </div>
        </div>
        <div class="card-content">

            <div class="form-group"
                 ng-class="{ 'has-success' : regVm.regForm.username.$valid && !regVm.userNameExists, 'has-error' : regVm.regForm.username.$dirty && !regVm.regForm.username.$valid }">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="color:black">face</i>
                    </span>
                    <input type="text"
                           name="username"
                           id="username"
                           class="form-control"
                           ng-model="regVm.username"
                           ng-blur="regVm.checkUsername()"
                           ng-minlength="6"
                           required
                           placeholder="Username...">

                    <span class="form-control-feedback"
                          ng-show="regVm.regForm.username.$valid && !regVm.usernameExists">
                        <i class="material-icons" style="color:rgb(95, 214, 95)">done</i>
                    </span>

                    <div class="text-danger"
                         ng-show="regVm.regForm.username.$error.required && regVm.regForm.username.$dirty">
                        <em>
                            This field is required!
                        </em>
                    </div>
                    
                    <div class="text-danger"
                         ng-show="(regVm.usernameExists)">
                        <em>
                            Username already exists...
                        </em>
                    </div>
                 
                    <div class="text-danger"
                         ng-show="regVm.regForm.username.$dirty && regVm.regForm.username.$error.minlength">
                        <em>
                            Username is to short!
                        </em>
                    </div>
                </div>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-success' : regVm.regForm.email.$valid  && !regVm.emailExists, 'has-error' : regVm.regForm.email.$dirty && !regVm.regForm.email.$valid }">

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="color:black">email</i>
                    </span>
                    <input type="email"
                           name="email"
                           id="email"
                           class="form-control"
                           ng-model="regVm.email"
                           ng-blur="regVm.checkEmail()"
                           required
                           placeholder="Email...">
                    <span class="form-control-feedback"
                          ng-show="regVm.regForm.email.$valid && !regVm.emailExists">
                        <i class="material-icons" style="color:rgb(95, 214, 95)">done</i>
                    </span>
                    <span class="text-danger"
                          ng-show="regVm.regForm.email.$error.required && regVm.regForm.email.$dirty">
                        <em>
                            This field is required!
                        </em>
                    </span>
                    <span class="text-danger"
                          ng-show="regVm.regForm.email.$dirty && regVm.regForm.email.$error.email">
                        <em>
                            Please input a valid email...
                        </em>
                    </span>
                    <span class="text-danger"
                          ng-if="(regVm.emailExists)">
                        <em>
                            Email already exists...
                        </em>
                    </span>
                </div>
            </div>

            <div class="form-group col-sm-6"
                 ng-class="{ 'has-success' : regVm.regForm.firstName.$valid , 'has-error' : regVm.regForm.firstName.$dirty && !regVm.regForm.firstName.$valid }">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="color:black">person</i>
                    </span>
                    <input name="firstName"
                           id="firstName"
                           type="text"
                           placeholder="First Name..."
                           ng-model="regVm.firstName"
                           required
                           class="form-control flare" />
                    <div class="text-danger"
                         ng-show="regVm.regForm.firstName.$error.required  && regVm.regForm.firstName.$dirty">
                        <em>
                            This field is required!
                        </em>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-6"
                 ng-class="{ 'has-success' : regVm.regForm.lastName.$valid , 'has-error' : regVm.regForm.lastName.$dirty && !regVm.regForm.lastName.$valid }">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="color:black">person</i>
                    </span>
                    <input name="lastName"
                           id="lastName"
                           type="text"
                           placeholder="Last Name..."
                           ng-model="regVm.lastName"
                           required
                           class="form-control flare" />
                    <!--<div class="text-danger"
                          ng-show="regVm.regForm.lastName.$error.required  && regVm.regForm.lastName.$touched">
                        <em>
                            This field is required!
                        </em>
                    </div>-->
                </div>
            </div>

            <div class="form-group col-sm-6"
                 ng-class="{ 'has-success' : regVm.regForm.password.$valid , 'has-error' : regVm.regForm.password.$dirty && !regVm.regForm.password.$valid }">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="color:black">lock_outline</i>
                    </span>
                    <input name="password"
                           id="password"
                           type="password"
                           placeholder="Password..."
                           ng-model="regVm.password"
                           ng-minlength="12"
                           required
                           class="form-control flare" />
                    <!--<ul id="strength" check-strength="regVm.password"></ul>-->
                    <div class="text-danger"
                         ng-show="regVm.regForm.password.$error.required  && regVm.regForm.password.$dirty">
                        <em>
                            This field is required!
                        </em>
                    </div>
                    <div class="text-danger"
                         style="display:block;"
                         ng-show="regVm.regForm.rePassword.$dirty && regVm.regForm.password.$dirty && regVm.password !== regVm.rePassword">
                        <em>
                            Passwords must match!
                        </em>
                    </div>
                    <div class="text-danger"
                         ng-show="regVm.regForm.rePassword.$dirty && regVm.regForm.password.$error.minlength">
                        <em>
                            Password is to short!
                        </em>
                        <em>
                            Needs to be at least 12 charcters...
                        </em>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-6"
                 ng-class="{ 'has-success' : regVm.regForm.rePassword.$valid , 'has-error' : regVm.regForm.password.$dirty && (!regVm.regForm.password.$valid || regVm.password !== regVm.rePassword) }">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons" style="color:black">lock_outline</i>
                    </span>
                    <input name="rePassword"
                           id="rePassword"
                           type="password"
                           placeholder="Confirm Password..."
                           ng-model="regVm.rePassword"
                           required
                           ng-minlength="12"
                           class="form-control flare" />
                    <div class="text-danger"
                         ng-show="regVm.regForm.rePassword.$error.required && regVm.regForm.rePassword.$dirty">
                        <em>
                            This field is required!
                        </em>
                    </div>
                    <div class="text-danger"
                         ng-show="regVm.regForm.rePassword.$dirty && regVm.regForm.password.$dirty && regVm.password !== regVm.rePassword">
                        <em>
                            Passwords must match!
                        </em>
                    </div>
                </div>
            </div>

            <div class="col-xs-11 col-xs-offset-1">
                <label>
                    <input type="checkbox" name="checkBox" ng-model="checkBox" /> I agree to the
                    <a href="" ng-click="regVm.privatePolicy()">terms and conditions</a>.
                </label>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit"
                    class="btn btn-primary btn-round"
                    id="submitBtn"
                    ng-click="regVm.submit()"
                    ng-disabled="!checkBox || !regVm.regForm.$valid || !regVm.validateForm()">
                Get Started
            </button>
            <br />
            <a href="" ng-click="regVm.login()">Already signed up?</a>
        </div>
    </form>

</div>