<article class="material-card">

    <h2>
        <span class="card-name">Christopher Walken</span>
        <strong class="card-title">
            <i class="fa fa-fw fa-star"></i>
            The Deer Hunter
        </strong>
    </h2>

    <div class="mc-content">
        <div class="img-container">
            <img class="img-responsive card-img" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-christopher-walken.jpg">
        </div>
        <div class="mc-description card-description">
            He has appeared in more than 100 films and television shows, including The Deer Hunter, Annie Hall, The Prophecy trilogy, The Dogs of War ...
        </div>
    </div>

    <a class="mc-btn-action">
        <i class="fa fa-bars"></i>
    </a>
    <div class="mc-footer">
        <h4>
            Social
        </h4>
        <!--
            <a class="fab fa-fw fa-facebook"></a>
            <a class="fab fa-fw fa-twitter"></a>
            <a class="fab fa-fw fa-linkedin"></a>
            <a class="fab fa-fw fa-google-plus"></a>
            -->
    </div>
</article>
