<div>

    <div class="prism">
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
    </div>

</div>

<div id="song-list" class="row margin-t-50p hide">
    
    <div class="col-sm-4 col-xs-10">
        <div class="card song-card">
            <div class="row">

                <div class="col-sm-2 col-sm-push-0 
                            col-xs-6 col-xs-push-3">
                    <img class="songImg" src="{imgSrc}" alt="Card image">
                </div>

                <div class="col-sm-8 col-xs-12 text-center" style="margin-top: 3%;">
                    <span class="songTitle"> {title} </span>
                </div>

                <div class="col-sm-2 col-sm-push-3 
                            col-xs-8 col-xs-push-5" 
                     style="margin: 0% 0% 2% 2%;">
                    <button class="playPauseButton btn btn-xs" data-music="{musicPath}">▶</button>
                </div>

                <div class="song-links text-center hide col-xs-12">
                    <hr class="style5" />
                    <a href="{spotifyUrl}" target="_spotify">
                        <i class="fab fa-3x fa-spotify"
                           style="  padding: 0% 5% 3% 0%;
                                    color: #1ED760;"></i>
                    </a>
                    <a href="{youtubeUrl}" target="_youtube">
                        <i class="fab fa-3x fa-youtube"
                           style="  padding: 0% 5% 3% 0%;
                                    color: #FF0000;"></i>
                    </a>
                    <a href="{soundcloudUrl}" target="_soundcloud">
                        <i class="fab fa-3x fa-soundcloud"
                           style="  padding: 0% 5% 3% 0%;
                                    color: #FF5B00;"></i>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

 
