<div>
    <!--
        <div class="musicControls">
        <input id="audiofile" type="file" />
        <button class="playPauseButton">▶</button>
    </div>
    <label id="loading" for="audiofile">Select an audio file...</label>
        -->



    <div id="song-list" class="col-md-2">
        <div class="row">
            <div class="card song-card">
                <span class="songTitle">{title}      </span>
                <button class="playPauseButton btn btn-xs" data-music="{musicPath}">▶</button>
            </div>
        </div>
    </div>


    <!-- This should match the values in the js-->
    <div class="prism">
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
        <div class="side hide">
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
            <div class="rectangle hide"></div>
        </div>
    </div>

</div>