    <div class="overlay-navigation">
        <nav role="navigation">
            <ul>
                <li><a href="../#!/home" data-content="The Beginning">Home</a></li>
                <li><a href="../#!/entertainment" data-content="Curious?">Videos</a></li>
                <li><a href="https://apparel.obl.network" data-content="OBL Apparel">Apparel</a></li>
                <li><a href="../#!/music" data-content="The Best Sounds Around...">Music</a></li>
                <li><a href="../#!/contact" data-content="Don't Hesitate">Contact</a></li>
            </ul>
        </nav>
    </div>

    <section class="home">
        <div class="open-overlay">
            <span class="bar-top"></span>
            <span class="bar-middle"></span>
            <span class="bar-bottom"></span>
        </div>
    </section>
