
<div class="transparent-overlay"></div>

<div class="row text-center" style="padding: 4%; position: relative">
    <div>
        <h2 class="bold">
            About Us
        </h2>
    </div>
    <div class="col-md-6 col-md-push-3">
        <p>
            OBL is a philsophical collective that is dedicated to enhancing one's happiness and ultimately inspire one live their best life, everday, one day at a time. Starting off in Los Angeles, California, OBL creates clothes, music, videos, and many other types on content. Although the types of content OBL creates is widespread, the message found in the content always comes back to "Live Your Best Life", whatever life that is!
        </p>
    </div>
    <div id="about-img">
        <img class="img-responsive" src="/assets/img/obl.2.png" />
    </div>
</div>