<div class="row text-center"  style="padding: 4%;">
        <div>
            <h2 class="bold">
                About Us
            </h2>
        </div>
        <div class="col-md-6 col-md-push-3">
            OBL is a philsophical apparel venture that homes a Trend Setting Streetwear brand and media platform dedicated to enhancing one's happiness. Founded through Nile Overstreet, Hovaness G., Rediet Teferei, Kadon S., and Keimerie H. in 2019, the Los Angeles-based organization incorporates their passionate mindset and personal standpoint on the subcultures ingrained within society, with an emphasis on the person over the product. OBL apparel encompasses T-shirts, hoodies, crop tops, shorts, sweats, headwear, and more. OBL launched its groundbreaking line of clothing with a single message: Live Your Best Life. It’s a message that’s is necessary these days as it has ever been.
        </div>
        <div style="padding: 0% 38% 0% 38%;">
            <img class="img-responsive" src="/assets/img/obl.2.png" />
        </div>
</div>