
<div class="transparent-overlay"></div>

<div class="container text-center" style="position: relative">
    <h2 class="title">Send Us A Message</h2>
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <p class="description">
                You can contact us for any questions or inquiries. We get back to you as soon as possible.
            </p>

            <!-- CONTACT FORM -->
            <form ng-if="!pg.hasSent"
                  name="contactUsForm"
                  novalidate
                  ng-submit="pg.submitForm(contactUsForm.$valid)"
                  role="form" id="contact-form"
                  method="post">

                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': !contactUsForm.name.$pristine && (contactUsForm.name.$invalid || contactUsForm.name.$error.minlength || contactUsForm.name.$error.maxlength)}">
                        <label class="control-label">
                            Name
                        </label>
                        <input type="text"
                               name="name"
                               class="form-control"
                               ng-model="pg.item.name"
                               ng-minlength="2"
                               ng-maxlength="50"
                               required />
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': (!contactUsForm.subject.$pristine && contactUsForm.subject.$invalid) || (contactUsForm.subject.$error.minlength)|| (contactUsForm.subject.$error.maxlength)}">
                        <label class="control-label">
                            Subject
                        </label>

                        <select ng-model="pg.item.subject"
                                ng-options="item as item for item in pg.subjects"
                                class="form-control"
                                required></select>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': !contactUsForm.email.$pristine && contactUsForm.email.$invalid}">
                        <label class="control-label">
                            Email address
                        </label>
                        <input type="email"
                               name="email"
                               class="form-control"
                               ng-model="pg.item.fromEmail"
                               required />
                        <p ng-if="!contactUsForm.email.$pristine && contactUsForm.email.$invalid ">
                            Enter a valid email.
                        </p>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group"
                         ng-class="{'has-error': (!contactUsForm.phone.$pristine && contactUsForm.phone.$invalid)}">
                        <label class="control-label">Phone</label>
                        <input type="tel"
                               pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$"
                               name="phone"
                               class="form-control"
                               ng-model="pg.item.phone" />
                        <p ng-if="contactUsForm.phone.$invalid && !contactUsForm.phone.$pristine">
                            Invalid Format
                        </p>

                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group" ng-class="{'has-error': (!contactUsForm.messageText.$pristine && contactUsForm.messageText.$invalid ) || (contactUsForm.messageText.$error.minlength)|| (contactUsForm.messageText.$error.maxlength)}">
                        <label class="control-label">
                            Your message
                        </label>
                        <textarea name="messageText"
                                  class="form-control"
                                  id="message"
                                  rows="6"
                                  ng-model="pg.item.messageText"
                                  ng-minlength="4"
                                  ng-maxlength="500"
                                  required></textarea>
                        <p ng-if="(contactUsForm.messageText.$error.required && !contactUsForm.messageText.$pristine)">
                            Message is required.
                        </p>
                        <p ng-if="contactUsForm.messageText.$error.minlength">
                            Message is too short
                        </p>
                        <p ng-if="contactUsForm.messageText.$error.maxlength">
                            Message is too long.
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 text-center">
                    <input style="background-color: #58768b;"
                           type="submit"
                           class="btn btn-round btn-xs"
                           value="Send"
                           ng-disabled="contactUsForm.$invalid"
                           ng-click="pg.sendEmail(pg.item)" />
                </div>
            </form>


            <div ng-if="pg.hasSent" class="text-center">
                <h4>
                    Message has been sent!
                </h4>

                <a class="btn btn-danger btn-xs" href="#!">Back</a>
            </div>

        </div>
    </div>
</div>
