<div full-page
     options="pg.sliderOptions">

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-4 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="https://apparel.obl.network">OBL TV</a></h3>
                    <p>
                        OBL TV constists of funny, encourging, and over-all lighthearted material from vlogs, to reactons, to random interviews, to skits, you can never guantee what type of content comes next but you can guantee that it will put a smile on anyone's face!
                    </p>
                </div>

                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <iframe class="page-video-youtube"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>

                <div class="col-xs-12 col-xs-push-2 mobile-img-xs-only">
                    <iframe class="page-video-youtube-xs"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-4 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="./#!/music">OBL INSIGHTS</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, eam eu adhuc vidisse eleifend, est ex mundi doctus utamur, ne vix decore oblique conclusionemque. Dicunt eirmod vim at, ex hendrerit disputando mediocritatem duo. Est at putent malorum efficiantur, numquam ceteros vix ad. An aliquid invidunt efficiantur vim, dico illum accumsan in mea, an ferri choro labore quo. Ne ius veri nostrud fastidii. Eum at veri antiopam, prima omnes convenire nec ex. Mundi luptatum sit ad, sea summo causae omnium an.
                    </p>
                </div>

                <div class="col-sm-3 col-sm-push-3 hidden-xs">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>

                <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">

                <div class="col-sm-4 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="https://apparel.obl.network">OBL PODCAST</a></h3>
                    <p>
                        OBL Apparel is a venture that homes a Trend Setting Streetwear brand dedicated to enhancing one's happiness. Founded through Nile Overstreet, Hovaness G., Rediet Teferei in 2019, the Los Angeles-based organization incorporates their passionate mindset and personal standpoint on the subcultures ingrained within society, with an emphasis on the person over the product. OBL apparel encompasses T-shirts, hoodies, crop tops, shorts, sweats, headwear, and more. OBL launched its groundbreaking line of clothing with a single message: Live Your Best Life. It’s a message that’s is necessary these days as it has ever been.
                    </p>
                </div>

                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>


                <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>
