<div full-page
     options="pg.sliderOptions">

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-4 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="https://apparel.obl.network">OBL TV</a></h3>
                    <p>
                        Be entaintertained the BEST way possible with OBL TV! Constisting of encourging, funny, and over-all lighthearted content from vlogs, to reactons, to random interviews, to skits, you can never guantee what type of content comes next but you can guantee that it will put a smile on anyone's face.
                    </p>
                </div>

                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <iframe class="page-video-youtube"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>

                <div class="col-xs-12 col-xs-push-2 mobile-img-xs-only">
                    <iframe class="page-video-youtube-xs"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-4 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="./#!/music">OBL INSIGHTS</a></h3>
                    <p>
                        Gain insight of the universe in the BEST way possible with OBL Insights. Wheather its from to 
                    </p>
                </div>

                <div class="col-sm-3 col-sm-push-3 hidden-xs">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>

                <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">

                <div class="col-sm-4 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="https://apparel.obl.network">OBL PODCAST</a></h3>
                    <p>
                        Gain insight of the universe, society, culture, and more in the BEST way possible with OBL Insights.
                    </p>
                </div>

                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>


                <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                    <iframe style="width:420px; height:290px; margin: 2% 9%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>
