<div full-page
     options="pg.sliderOptions">

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-4 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold" style="padding: 21% 0% 5% 0%">OBL TV</h3>
                    <p>
                        Be entaintertained the BEST way possible with OBL TV! Get alittle closer to the OBL Squad, seeing how we brodcast OBL and the mission statment of "Living Your Best Life" to friends, stangers, and others. Providing encourging, funny, and lighthearted content from vlogs, to reactons, to random interviews, to skits, you can never guantee what type of content comes next but you can guantee that it will put a smile on anyone's face.
                    </p>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored margin-tb-5p">
                        Watch!
                    </a>
                </div>

                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <iframe style=" margin: 50% 17%;
                                    width: 420px;
                                    height: 290px;
                                    max-width: 180%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>

                <div class="col-xs-12 col-xs-push-2 mobile-img-xs-only">
                    <iframe class="page-video-youtube-xs"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <iframe style=" margin: 50% 5%;
                                    width: 420px;
                                    height: 290px;
                                    max-width: 180%;"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>

                <div class="col-sm-4 col-sm-push-3 col-xs-12 text-center mobile-text">
                    <h3 class="bold" style="padding: 21% 0% 5% 0%">OBL INSIGHTS</h3>
                    <p>
                        Gain insight on society, culture, technology, and more in the BEST way possible with OBL Insights. Wheather we're dicsussing ways to finds yourself and passion, up and coming technology that will help you increase your productivity, or the subliminal messages in the past or present, all the discussions ultimatly lead you to live your BEST LIFE!
                    </p>
                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--black margin-tb-5p">
                        Watch!
                    </a>
                </div>


                <div class="col-xs-12 col-xs-push-2 mobile-img-xs-only">
                    <iframe class="page-video-youtube-xs"
                            src="https://www.youtube.com/embed/J9S2L4kRBbM?list=OLAK5uy_lo0_pqWHQHK9OjBfOaQ-fhus8HI3_9okQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>
