<div full-page
     options="pg.sliderOptions">
    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-xs-12 col-xs-push-3 mobile-img-xxs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-sm-12 col-sm-pull-2 col-xs-12 text-center">
                    <h1>OBL</h1>
                </div>
                <div class="col-sm-6 col-sm-push-1 col-xs-12 text-center mobile-text">
                    <p style="padding-top: 10%;">
                        Lorem ipsum dolor sit amet, eam eu adhuc vidisse eleifend, est ex mundi doctus utamur, ne vix decore oblique conclusionemque. Dicunt eirmod vim at, ex hendrerit disputando mediocritatem duo. Est at putent malorum efficiantur, numquam ceteros vix ad. An aliquid invidunt efficiantur vim, dico illum accumsan in mea, an ferri choro labore quo. Ne ius veri nostrud fastidii. Eum at veri antiopam, prima omnes convenire nec ex. Mundi luptatum sit ad, sea summo causae omnium an.
                    </p>
                </div>
                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-xs-12 col-xs-push-3 hidden-sm hidden-md hidden-lg hidden-sm-xl mobile-img-xs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-xs-12 col-xs-push-3 mobile-img-xxs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-sm-3 col-sm-push-1 hidden-xs">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-sm-6 col-sm-push-2 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="https://apparel.obl.network">Apparel</a></h3>
                    <p>
                        OBL is a philsophical apparel venture that homes a Trend Setting Streetwear brand and media platform dedicated to enhancing one's happiness. Founded through Nile Overstreet, Hovaness G., Rediet Teferei, Kadon S., and Keimerie H. in 2019, the Los Angeles-based organization incorporates their passionate mindset and personal standpoint on the subcultures ingrained within society, with an emphasis on the person over the product. OBL apparel encompasses T-shirts, hoodies, crop tops, shorts, sweats, headwear, and more. OBL launched its groundbreaking line of clothing with a single message: Live Your Best Life. It’s a message that’s is necessary these days as it has ever been.
                    </p>
                </div>
                <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-xs-12 col-xs-push-3 mobile-img-xxs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-sm-6 col-sm-push-1 col-xs-12 text-center mobile-text">
                    <h3 class="bold"><a href="./#!/music">Music</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, eam eu adhuc vidisse eleifend, est ex mundi doctus utamur, ne vix decore oblique conclusionemque. Dicunt eirmod vim at, ex hendrerit disputando mediocritatem duo. Est at putent malorum efficiantur, numquam ceteros vix ad. An aliquid invidunt efficiantur vim, dico illum accumsan in mea, an ferri choro labore quo. Ne ius veri nostrud fastidii. Eum at veri antiopam, prima omnes convenire nec ex. Mundi luptatum sit ad, sea summo causae omnium an.
                    </p>
                </div>
                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-xs-12 col-xs-push-3 hidden-sm hidden-md hidden-lg hidden-sm-xl mobile-img-xs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-xs-12 col-xs-push-3 mobile-img-xxs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-sm-3 col-sm-push-1 hidden-xs">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-sm-6 col-sm-push-2 col-xs-12 text-center">
                    <h3 class="bold"><a href="./#!/entertainment">Entertainment</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, eam eu adhuc vidisse eleifend, est ex mundi doctus utamur, ne vix decore oblique conclusionemque. Dicunt eirmod vim at, ex hendrerit disputando mediocritatem duo. Est at putent malorum efficiantur, numquam ceteros vix ad. An aliquid invidunt efficiantur vim, dico illum accumsan in mea, an ferri choro labore quo. Ne ius veri nostrud fastidii. Eum at veri antiopam, prima omnes convenire nec ex. Mundi luptatum sit ad, sea summo causae omnium an.
                    </p>
                </div>
                <div class="col-xs-12 col-xs-push-3 hidden-sm hidden-md hidden-lg hidden-sm-xl mobile-img-xs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-xs-12 col-xs-push-3 mobile-img-xxs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-sm-6 col-sm-push-1 col-xs-12 text-center">
                    <h3 class="bold"><a href="./#!/tech">Tech</a></h3>
                    <p>
                        Lorem ipsum dolor sit amet, eam eu adhuc vidisse eleifend, est ex mundi doctus utamur, ne vix decore oblique conclusionemque. Dicunt eirmod vim at, ex hendrerit disputando mediocritatem duo. Est at putent malorum efficiantur, numquam ceteros vix ad. An aliquid invidunt efficiantur vim, dico illum accumsan in mea, an ferri choro labore quo. Ne ius veri nostrud fastidii. Eum at veri antiopam, prima omnes convenire nec ex. Mundi luptatum sit ad, sea summo causae omnium an.
                    </p>
                </div>
                <div class="col-sm-3 col-sm-push-2 hidden-xs">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-xs-12 col-xs-push-3 hidden-sm hidden-md hidden-lg hidden-sm-xl mobile-img-xs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
            </div>
        </div>
    </div>
</div>