<div full-page
     options="pg.sliderOptions">
    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-12 col-sm-push-3 hidden-xs" style="padding-left: 5%">
                    <h1 class="bold">OBL</h1>
                </div>
                <div class="col-xs-12 text-center hidden-sm hidden-md hidden-lg">
                    <h1 class="bold">OBL</h1>
                </div>
                <div class="col-sm-4 col-sm-push-2 col-xs-10 col-xs-push-1 text-center">
                    <div style="padding-top: 5%;">
                        <p class="bold"> The Operation Has Begun...</p>
                        <p>
                            Through thick and thin, good and bad, we continue to live life, every moment better or worst tan the last. OBL changes that worst moment to a better one, that better one to a great one, and that great moment to your best one, thus bringing out your BEST LIFE every moment of the day.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-push-3 col-xs-4 col-xs-push-3 hidden-xs">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
                <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                    <img class="img-responsive" src="/assets/img/obl.2.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row text-center">

                <div class="row">
                    <div class="col-xs-12 home-slide-title-r">
                        <h3 class="bold"><a href="https://apparel.obl.network">Apparel</a></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-sm-push-2 hidden-xs">
                        <img class="img-responsive" src="/assets/img/apparel.1.png" />
                    </div>

                    <div class="col-sm-4 col-sm-push-3 col-xs-10 col-xs-push-1 margin-tb-3p">
                        <p>
                            OBL Apparel is a venture that homes a Trend Setting Streetwear brand dedicated to enhancing one's happiness. The Los Angeles-based organization incorporates their passionate mindset and personal standpoint on the subcultures ingrained within society, with an emphasis on the person over the product. OBL launched its groundbreaking line of clothing with a single message: Live Your Best Life. It’s a message that’s is necessary these days as it has ever been.
                        </p>
                    </div>
                    <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                        <img class="img-responsive" src="/assets/img/apparel.1.png" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row text-center">

                <div class="row">
                    <div class="col-xs-12 home-slide-title-l">
                        <h3 class="bold"><a href="./#!/music">Music</a></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-sm-push-2 col-xs-10 col-xs-push-1 margin-tb-3p">
                        <p>
                            OBL Music, also known as OBL Records is another medium through which the positive vibrations of OBL are transmitted. The music aspect of OBL is no different from the other aspects of OBL in that OBL Music provides listeners and viewers with tunes that carry Love, Insights, Growth, and much more that they can then integrate into their daily lives. 
                        </p>
                    </div>
                    <div class="col-sm-3 col-sm-push-3 hidden-xs">
                        <img class="img-responsive" src="/assets/img/music.1.jpg" />
                    </div>
                    <div class="col-xs-12 col-xs-push-3 mobile-img-xs-only">
                        <img class="img-responsive" src="/assets/img/music.1.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row text-center">

                <div class="row">
                    <div class="col-xs-12 col-sm-push-2 home-slide-title-r-long">
                        <h3 class="bold"><a href="./#!/entertainment">Entertainment</a></h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-sm-push-2 hidden-xs">
                        <img class="img-responsive" src="/assets/img/video.1.jpg" />
                    </div>
                    <div class="col-sm-4 col-sm-push-3 col-xs-10 col-xs-push-1 margin-tb-3p">
                        <p>
                            OBL strives to give the people nothing but the BEST content. With videos ranging from funny reactions to lighthearted vlogs to insightful podcasts to meditative practices, we look to help enlighten not only peoples' day but their soul. With laughs and enlightenment through out the day, we look to bring people nothing but their BEST LIFE!
                        </p>
                    </div>
                    <div class="col-xs-10 col-xs-push-3 mobile-img-xs-only">
                        <img class="img-responsive" src="/assets/img/video.1.jpg" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="fullpage-footer" class="section fp-auto-height" ng-if="pg.windowWidth < 768">
        <div id="footer-slide" class="slide">
            <footer>
                <div class="row">
                    <a href="../#!/about">About</a> /
                    <a href="../#!/ourTeam">Our Team</a> /
                    <a href="../#!/tech">Tech</a> /
                    <a href="../#!/contact">Contact Us</a>
                </div>
                <p>
                    © 2019, <a href="/">Best Life Corp.</a>
                </p>

            </footer>
        </div>
    </div>


</div>