
<div class="row" style="padding: 8%;">

    <div class="col-md-4">
        <render id="nileCard"
                append-script-to-body="false"
                html="~/assets/partials/buisnessCard.html"
                css="~/assets/css/buisnessCard.css"
                js="~/assets/js/buisnessCardConfig.js"
                params="pg.cardParams['nile']"
                re-render-at-size="768"></render>
    </div>

    <div class="col-md-4">
        <render id="redietCard"
                append-script-to-body="false"
                html="~/assets/partials/buisnessCard.html"
                css="~/assets/css/buisnessCard.css"
                js="~/assets/js/buisnessCardConfig.js"
                params="pg.cardParams['rediet']"></render>
    </div>

    <div class="col-md-4">
        <render id="hovanessCard"
                append-script-to-body="false"
                html="~/assets/partials/buisnessCard.html"
                css="~/assets/css/buisnessCard.css"
                js="~/assets/js/buisnessCardConfig.js"
                params="pg.cardParams['hovaness']"></render>
    </div>

</div>


<!--<div full-page
     options="pg.sliderOptions">
    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-xs-12 col-xs-push-1">
                    <h2 class="bold">Our Team</h2>
                </div>
                <div class="col-sm-6 col-sm-push-1 col-xs-12">
                    <p style="padding-top: 10%;">
                        OBL
                    </p>
                </div>
                <div class="col-xs-3 col-xs-push-2">

                    <img class="img-responsive" src="/assets/img/obl.2.png" />

                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-3 col-sm-push-1 col-xs-12">
                    <h2 class="bold mobile-img-xs-only">Nile</h2>
                    <render id="nileCard"
                            append-script-to-body="false"
                            html="~/assets/partials/buisnessCard.html"
                            css="~/assets/css/buisnessCard.css"
                            js="~/assets/js/buisnessCardConfig.js"
                            params="pg.cardParams['nile']"
                            re-render-at-size="768"></render>
                </div>
                <div class="col-xs-6 col-xs-push-2 hidden-xs">
                    <h3 class="bold">Nile</h3>
                    <p>
                        OBL is a philsophical apparel venture that homes a Trend Setting Streetwear brand and media platform dedicated to enhancing one"s happiness. Founded through Nile Overstreet, Hovaness G., Rediet Teferei in 2019, the Los Angeles-based organization incorporates their passionate mindset and personal standpoint on the subcultures ingrained within society, with an emphasis on the person over the product. OBL apparel encompasses T-shirts, hoodies, crop tops, shorts, sweats, headwear, and more. OBL launched its groundbreaking line of clothing with a single message: Live Your Best Life. It’s a message that’s is necessary these days as it has ever been.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-xs-6 col-xs-push-1 hidden-xs">
                    <h3 class="bold">Rediet</h3>
                    <p>
                        OBL is a philsophical apparel venture that homes a Trend Setting Streetwear brand and media platform dedicated to enhancing one"s happiness. Founded through Nile Overstreet, Hovaness G., Rediet Teferei in 2019, the Los Angeles-based organization incorporates their passionate mindset and personal standpoint on the subcultures ingrained within society, with an emphasis on the person over the product. OBL apparel encompasses T-shirts, hoodies, crop tops, shorts, sweats, headwear, and more. OBL launched its groundbreaking line of clothing with a single message: Live Your Best Life. It’s a message that’s is necessary these days as it has ever been.
                    </p>
                </div>
                <h2 class="bold mobile-img-xs-only">Rediet</h2>
                <div class="col-sm-3 col-sm-push-2 col-xs-12">
                    <render id="redietCard"
                            append-script-to-body="false"
                            html="~/assets/partials/buisnessCard.html"
                            css="~/assets/css/buisnessCard.css"
                            js="~/assets/js/buisnessCardConfig.js"
                            params="pg.cardParams['rediet']"></render>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="slide">
            <div class="row">
                <div class="col-sm-3 col-sm-push-1 col-xs-12">
                    <h2 class="bold mobile-img-xs-only">Hovaness</h2>
                    <render id="hovanessCard"
                            append-script-to-body="false"
                            html="~/assets/partials/buisnessCard.html"
                            css="~/assets/css/buisnessCard.css"
                            js="~/assets/js/buisnessCardConfig.js"
                            params="pg.cardParams['hovaness']"></render>
                </div>
                <div class="col-xs-6 col-xs-push-2 hidden-xs">
                    <h3 class="bold">Hovaness</h3>
                    <p>
                        Hovaness was born and raised in Inglewood, California. Being half Hispanic and half Armenian, he brings two different cultures from across the world into OBL with a mix of west coast vibes. Hovaness brings the artistic and creative expertise to OBL designs, music, and all other ventures.
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>-->
