
<div class="transparent-overlay"></div>

<div class="row" style="padding: 8%;">

    <div class="col-md-4">
        <render id="nileCard"
                append-script-to-body="false"
                html="~/assets/partials/buisnessCard.html"
                css="~/assets/css/buisnessCard.css"
                js="~/assets/js/buisnessCardConfig.js"
                params="pg.cardParams['nile']"
                re-render-at-size="768"></render>
    </div>

    <div class="col-md-4">
        <render id="redietCard"
                append-script-to-body="false"
                html="~/assets/partials/buisnessCard.html"
                css="~/assets/css/buisnessCard.css"
                js="~/assets/js/buisnessCardConfig.js"
                params="pg.cardParams['rediet']"></render>
    </div>

    <div class="col-md-4">
        <render id="hovanessCard"
                append-script-to-body="false"
                html="~/assets/partials/buisnessCard.html"
                css="~/assets/css/buisnessCard.css"
                js="~/assets/js/buisnessCardConfig.js"
                params="pg.cardParams['hovaness']"></render>
    </div>

    <div class="col-md-4 col-md-push-4">
        <render id="kandonCard"
                append-script-to-body="false"
                html="~/assets/partials/buisnessCard.html"
                css="~/assets/css/buisnessCard.css"
                js="~/assets/js/buisnessCardConfig.js"
                params="pg.cardParams['kandon']"></render>
    </div>

</div>
